html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: .5rem;
  line-height: 1.5;
  background-color: #dcd4cd;
}

header {
  display: inline-block;
  padding: 1rem;
  background-color: #cabdb2;
  border-radius: 3px;
  border: 5px solid #9a816d;
  color: #f0eee8;
  text-decoration: none;
}

h1 {
  font-family: "Dosis", sans-serif;
  font-size: 1.5rem;
  color: #512200;
}

p {
  font-family: "Georgia", sans-serif;
  font-size: 1rem;
  color: #785439;
}

nav ul {
  font-family: "Georgia", sans-serif;
  font-size: .875rem;
  color: #785439;
  list-style-type: none;
}

h2 {
  font-family: "Dosis", sans-serif;
  font-size: 1.125rem;
  color: #f0eee8;

  display: inline;
  padding: .4rem;
  background-color: #512200;
  border-radius: 8px;
  border: 0;
  text-decoration: none;
  text-align: center;
}

hr {
  background-color: #9a816d;
}
