html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #f0eee8;
  line-height: 1.5;
  margin: 0 0 1rem;
}

header {
  display: inline-block;
  padding: .75em .4em;
  background-color: #dcd4cd;
  border-radius: 3px;
  border: 3px solid #9a816d;
  color: #f0eee8;
}

.link-card {
  background-color: #cabdb2;
}

.link-card:hover {
  background-color: #cabdb2;
}

h1 {
  font-family: 'Dosis', sans-serif;
  font-size: 1.5rem;
  color: #512200;
}

h2 {
  font-family: Georgia, sans-serif;
  font-size: 1rem;
  color: #785439;
}

dd {
  font-family: Georgia, sans-serif;
  font-size: .875rem;
  color: #785439;
  list-style-type: none;
  display: inline;
}

dt {
  font-family: Georgia, sans-serif;
  font-size: .875rem;
  color: #785439;
  list-style-type: none;
  display: inline;
}

h3 {
  font-family: 'Dosis', sans-serif;
  font-size: 1.125rem;
  color: #f0eee8;

  display: inline-block;
  padding: .4rem .5em;
  background-color: #512200;
  border-radius: 8px;
  border: 2px solid #512200;
  text-decoration: none;
  text-align: center;
}
